.typewriter {
    overflow: hidden;
    white-space: pre-line;
  }
  
  .typewriter p {
    display: inline-block;
    vertical-align: bottom;
    animation: typing 4s steps(40, end), blink-caret 0.5s step-end infinite alternate;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }