.social-svg{
    fill: white;
}

.social-svg:hover{
    fill: white;
    transition: transform 0.3s ease;
    transform: scale(1.05); 
}

.animated-long:hover{
    cursor: pointer;
    fill: green;
}

.footer-div{
    position: relative;
    bottom: 0;
}