.social-svg{
    fill: white;
}

.social-svg:hover{
    fill: white;
    transition: transform 0.3s ease;
    transform: scale(1.05); 
}

.feature-svg:hover{
    cursor: pointer;
    fill: green;
}

.home-header{
    font-size: 60px;
}

.explore-features {
    min-height: 288px;
}

.active {
    display: block;
}

.inactive {
    display: none;
}