.social-svg{
    fill: white;
}

.social-svg:hover{
    fill: white;
    transition: transform 0.3s ease;
    transform: scale(1.05); 
}

.feature-svg:hover{
    cursor: pointer;
    fill: green;
}

.home-header{
    font-size: 50px;
}

.explore-features {
    min-height: 325px;
}

.paragraphs-home{
    position: relative;
}

.active {
    position: relative;
}

.inactive {
    position: relative;
    display: none;
}

.exchanges{
    color: black;
}

.welcome-div{
    background-color: #126bc5
}

p{
    /* font-family: Arial, Helvetica, sans-serif,sans-serif;     */
    /* font-family: Rubik; */
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .06em;
}